<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Exercise</title>
</head>
<body>
    <h1> Day 12 Task 1</h1>
    <br><br>
    <h2>How many numbers do you wish to generate</h2>

    <form method= "POST" action= "processNumber">
        Enter a number between 1 and 20 (included):
        <input type= "number" min = "1" max ="20" name = "inputNumber"/>
        <input type= "submit" value= "Submit" />
    </form>
    
</body>
</html>